<section class="Category">
  <div class="Container">
    <h2 class="Category__title">CATEGORY</h2>

    <ul class="CategoryList">
      <% categories = [
        { id: 3, name: '服', image: 'home/category/cloth.jpg' },
        { id: 4, name: '帽子', image: 'home/category/cap.jpg' },
        { id: 5, name: 'バッグ', image: 'home/category/bag.jpg' },
        { id: 6, name: 'マグ', image: 'home/category/tableware.jpg' }
      ] %>

      <% categories.each do |category| %>
        <li class="CategoryItem">
          <div class="CategoryItem__image-wrapper">
            <%= image_tag(category[:image]) %>

            <div class="CategoryItem__masking">
              <%= link_to "VIEW", category_path(category[:id]), class: "CategoryItem__button" %>
            </div>
          </div>

          <h3 class="CategoryItem__name"><%= category[:name] %></h3>
        </li>
      <% end %>
    </ul>
  </div>
</section>
