<section class="Category">
  <div class="Container">
    <h2 class="Category__title">CATEGORY</h2>

    <ul class="CategoryList">
      <% categories.each do |category| %>
        <% image_path = "home/category/#{category_image_map[category.name]}" %>
        <li class="CategoryItem">
          <div class="CategoryItem__image-wrapper">
            <%= image_tag(image_path, alt: category.name) %>
            <div class="CategoryItem__masking">
              <%= link_to "VIEW", category_path(category.id), class: "CategoryItem__button" %>
            </div>
          </div>
          <h3 class="CategoryItem__name"><%= category.name %></h3>
        </li>
      <% end %>
    </ul>
  </div>
</section>
